body {
  background-color: #7c9ed6;
  font-family: inherit;
  font-size: 30px;
}

.container {
  width: 80%;
  margin: 80px;
}

.jumbotron {
  background: #ba5071;
}

ol {
  color: red;
}

.repotitle {
  color: #456780;
}
